@use "../abstracts/" as *;

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;

  @include x-grid-center;

  cursor: pointer;
}

button.navigation--mobile--hamburger-menu {
  padding: $navigation-mobile-hamburger-menu-padding;
}

button[type="submit"],
button.card__footer--btn {
  --button-bg-color: var(--primary-clr);
  --button-text-color: var(--light-clr);

  font-weight: $fw-card-btn;
  font-size: $fs-card-btn;
  color: var(--button-text-color);
  text-transform: $card-btn-text-transform;

  background-color: var(--button-bg-color);
  @include x-border-radius($card-btn-border-radius);

  padding: $card-btn-padding;

  @include x-transition($card-btn-transition);
}

button.footer--subscribe--btn {
  --button-bg-color: var(--link-clr);
  --button-text-color: var(--dark-clr);
}
