@use "../abstracts/" as *;

.card {
  --card-img-height: #{rem(333px)};

  position: relative;
  margin-block-end: spacing(4);

  &__header {
    width: 100%;
  }

  &:hover .card__footer--btn {
    @include x-opacity(1);
  }

  &:hover .card__footer__price {
    @include x-opacity(0);
  }
}

.card__badge {
  position: absolute;
  top: $card-badge-top;
  right: $card-badge-right;

  background-color: $card-badge-bg-color;

  & p {
    font-size: $fs-card-badge;
    font-weight: $fw-card-badge;
    color: var(--dark-clr);
    text-transform: $card-badge-text-transform;
    line-height: $card-badge-line-height;
    letter-spacing: $card-badge-letter-spacing;

    padding: $card-badge-padding;
  }
}

.card__header__img {
  position: relative;

  width: $card-img-width;
  height: var(--card-img-height);

  & img {
    width: $card-img-width;
    height: $card-img-height;

    object-fit: $card-img-object-fit;
    aspect-ratio: $card-img-aspect;
  }

  & .card__img--hover {
    position: absolute;
    inset: $card-img-hover-inset;

    width: $card-img-hover-width;
    height: $card-img-hover-height;

    @include x-opacity($card-img-hover-opacity-start);

    @include x-transition($card-img-hover-transition);
  }

  &:hover .card__img--hover {
    @include x-opacity($card-img-hover-opacity-end);
  }
}

.card__footer {
  padding-block-start: $card-footer-padding;

  & .card__footer__flex {
    @include x-flex-flex-start;

    & div {
      position: relative;
      min-width: $card-footer-child-min-width;
    }
  }

  & .card__footer__price {
    position: absolute;
    top: $card-price-top;
    right: $card-price-right;

    font-size: $fs-card-price;
    font-weight: $fw-card-price;
  }

  & .card__footer--btn {
    position: absolute;
    top: $card-btn-top;
    right: $card-btn-right;
    z-index: $card-btn-z-index;

    @include x-opacity($card-btn-opacity);
    @include x-user-select($card-btn-user-select);
    @include x-transition($card-btn-transition);
  }

  & .card__footer__title {
    font-size: $fs-card-title;
    font-weight: $fs-card-title;
    line-height: $card-title-line-height;
    color: var(--primary-clr);
    text-transform: $card-title-text-transform;
    letter-spacing: $card-title-letter-spacing;
  }

  & .card__footer__description {
    font-size: $fs-card-description;
    font-weight: $fw-card-description;
  }
}
