@use "../abstracts/" as *;

div.dropdown {
  position: relative;

  width: 100%;
  height: 100%;

  & .dropdown--btn {
    font-weight: $font-weight-bold;
    color: var(--link-clr);

    display: flex;
    align-items: center;
    gap: spacing(2);

    &::after {
      content: "";

      display: inline-block;

      border-left: 0.3rem solid transparent;
      border-right: 0.3rem solid transparent;
      border-top: 0.3rem solid;
      border-bottom: 0;
    }

    &:is(:hover, :focus) {
      color: var(--light-clr);
    }
  }

  & .dropdown--content {
    position: absolute;
    top: rem(30px);
    right: 0;
    width: 100%;
    min-width: 8em;

    box-shadow: 0 1em 2.5em rgba(0, 0, 0, 0.333);

    & ul {
      text-align: center;
      background-color: var(--light-clr);

      padding-block: spacing(2);

      & li {
        padding-block: spacing(1);
        cursor: pointer;

        &:is(:hover, :focus) {
          background-color: var(--primary-clr);

          & > a {
            color: var(--light-clr);
          }
        }
      }

      & a {
        color: var(--dark-clr);
        text-transform: uppercase;
        text-decoration: none;

        letter-spacing: rem(2px);
      }
    }
  }
}

.navigation--desktop__list li:nth-child(2) button {
  font-size: $fs-12-13;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;

  &:is(:hover, :focus) {
    color: var(--light-clr);
  }
}

.navigation--desktop__list li:nth-child(2) .dropdown--content {
  min-width: rem(200px);
}
