@use "../abstracts/" as *;

.dropdown {
  position: relative;
}

.dropdown--btn {
  font-size: $fs-dropdown-btn;
  font-weight: $fw-dropdown-btn;
  color: $dropdown-btn-color;
  letter-spacing: $dropdown-btn-letter-spacing;

  @include x-flex-align;
  gap: $dropdown-btn-gap;

  &::after {
    content: "";

    display: inline-block;

    @include x-border(
      left,
      $dropown-after-border-line-width,
      $dropdown-after-border-line-style,
      $dropdown-after-border-color
    );

    @include x-border(
      right,
      $dropown-after-border-line-width,
      $dropdown-after-border-line-style,
      $dropdown-after-border-color
    );

    border-top: $dropown-after-border-line-width
      $dropdown-after-border-line-style;
    border-bottom: 0;
  }

  &:is(:hover, :focus-visible) {
    color: $dropdown-btn-hover-color;
    @include x-opacity($dropdown-btn-hover-opacity);
  }
}

.dropdown--content {
  position: absolute;
  top: $dropdown-content-top;
  right: $dropdown-content-right;
  width: $dropdown-content-width;
  min-width: $dropdown-content-min-width;

  @include x-box-shadow($dropdown-content-box-shadow);

  & ul {
    text-align: center;
    background-color: $dropdown-content-bg-color;

    padding-block: $dropdown-content-padding;

    & li {
      padding-block: $dropdown-link-padding;
      cursor: pointer;

      &:is(:hover, :focus-visible, :active) {
        background-color: $dropdown-link-hover-bg-color;

        & > a {
          color: $dropdown-link-hover-color;
        }
      }
    }

    & a {
      font-size: $fs-dropdown-link;
      font-weight: $fw-dropdown-link;
      color: $dropdown-link-color;
      text-transform: $dropdown-link-text-transform;
      text-decoration: $dropdown-link-text-decoration;

      letter-spacing: $dropdown-link-text-decoration;
    }
  }
}

.navigation--desktop__list li:nth-child(2) button,
.navigation--desktop__list li:nth-last-child(1) button {
  font-size: $fs-11-12;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;

  &:is(:hover, :focus) {
    color: var(--light-clr);
    @include x-opacity(0.7);
  }
}

.navigation--desktop__list li:nth-child(2) .dropdown--content {
  min-width: rem(200px);
}
