@use "../abstracts/" as *;

.footer--subscribe__input {
  -webkit-appearance: none;
  appearance: none;
  outline: none;

  width: $footer-input-width;
  height: $footer-input-height;

  font-size: $fs-footer-input;
  font-weight: $fw-footer-input;
  color: $footer-input-color;

  background-color: $footer-input-bg-color;
  @include x-border(
    all,
    $footer-input-border-line-width,
    $footer-input-border-line-style,
    $footer-input-border-color
  );
  padding: $footer-input-padding;

  &::placeholder {
    color: $footer-input-placeholder-color;
    @include x-opacity($footer-input-opacity);
  }
}
