@use "../abstracts/" as *;

.footer {
  color: $footer-color;

  background-color: $footer-background-color;

  padding: $footer-padding;

  @include mq(md) {
    padding: rem(45px);
  }

  & .footer--subscribe__copyright {
    display: none;
  }

  & .footer__children > * + * {
    margin-block-start: 1rem;
  }

  & .container .footer__children:not(:nth-last-child(1)) {
    padding: 0 rem(20px) rem(22px);
  }

  & a {
    text-decoration: none;
    transition: all 200ms ease-in-out;

    &:is(:hover, :focus-visible) {
      text-decoration: underline;
    }
  }

  & form {
    display: flex;
    flex-wrap: wrap;
    gap: spacing(3);
  }

  & .footer--subscribe__social__list {
    display: flex;
    align-items: center;
    gap: spacing(2);

    & li {
      --size: 1.75rem;

      width: var(--size);
      height: var(--size);
      border-radius: $full-radius;
      background-color: $link-color;

      padding: 0.35rem;

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  & h3,
  p,
  a {
    font-size: $footer-font-size;
  }
}

.footer .container {
  --footer-min-width: 50%;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  & > .footer__children {
    flex: 1 1 var(--footer-min-width);
  }

  & .footer--subscribe {
    --footer-min-width: 100%;
    max-width: rem(365px);
  }
}

.footer--address {
  order: 1;
}

.footer--subscribe {
  order: 0;
}

.footer--nav {
  order: 2;
}

.footer--copyright {
  order: 3;
}

@include mq(sm) {
  .footer .container .footer--subscribe {
    max-width: 66.66666667%;
  }
}

@include mq(md) {
  .footer--address {
    --footer-min-width: 33.33333333%;
    flex: 0 0 var(--footer-min-width);
  }

  .footer--subscribe {
    --footer-min-width: 66.66666667%;
    order: 1;

    flex: 0 0 var(--footer-min-width);
  }

  .footer--nav {
    --footer-min-width: 0.33%;
  }

  .footer .footer--subscribe__copyright {
    display: block;
  }

  .footer--copyright {
    display: none;
  }
}

@include mq(lg) {
  .footer .footer__children {
    --footer-min-width: 0.2%;
  }

  .footer .container .footer--subscribe {
    --footer-min-width: rem(400px);
    order: 10;

    flex: 1 1 var(--footer-min-width);

    max-width: rem(400px);
  }
}
