@use "../abstracts/" as *;

.main-hero {
  --hero-min-height: 450px;
  --background-img-brightness: 0.45;
  --background-img-saturate: 1.25;

  position: relative;

  z-index: 1000;

  display: grid;
  place-content: center;

  width: 100%;
  height: 100%;
  min-height: var(--hero-min-height);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &::after {
    content: "";

    position: absolute;
    inset: 0;
    z-index: -1;

    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  @include mq(lg) {
    --hero-min-height: 675px;
  }

  &__contents {
    width: 100%;
    text-align: center;

    & div {
      width: min(100% - 2rem, rem(450px));
      margin-inline: auto;
      margin-block: spacing(10);
    }

    & .main-hero__title {
      font-size: $heading-main-font-size;
      font-weight: $heading-font-weight;
      line-height: $heading-line-height;
      letter-spacing: $heading-letter-spacing;
      color: var(--link-clr);

      margin-block-end: spacing(4);
    }

    & .main-hero__description {
      font-size: $heading-sub-font-size;
      color: var(--link-clr);
    }

    & .main-hero--link {
      display: inline-block;
      width: 100%;

      position: absolute;
      bottom: rem(20px);
      left: 0;

      & svg {
        transition: transform 200ms ease-in-out;
      }

      &:hover svg {
        transform: scale(1.5);
      }
    }
  }
}

.section-hero {
  --section-min-height: 22.5em;

  width: 100%;
  height: 100%;
  min-height: var(--section-min-height);

  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  &__title {
    font-size: $fs-39-40;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: rem(4px);

    margin-block-end: spacing(5);
    padding-block-start: spacing(10);
  }

  &__description {
    font-size: $heading-sub-font-size;
    font-weight: $font-weight-regular;
    line-height: 1.5;
  }

  @include mq(md) {
    --section-min-height: 33.5em;
  }
}

.top-cards,
.bottom-cards {
  --card-min-width: #{rem(345px)};
  padding-block: rem(45px);

  & .container {
    --max-width: #{$container-max-width-sm};
  }
}

// Top Cards
@include mq(md) {
  .top-cards .container {
    --max-width: #{$container-max-width-md};

    --card-min-width: #{rem(320px)};
    --gap: #{spacing(6)};

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    & > * {
      flex: 1 1 var(--card-min-width);
    }

    & .card:nth-last-child(1) {
      --card-min-width: 100%;
    }
  }
}

@include mq(lg) {
  .top-cards .container {
    --max-width: #{$container-max-width-lg};

    --card-min-width: #{rem(455px)};
    --gap: #{spacing(6)};
  }
}

@include mq(xlg) {
  .top-cards .container {
    --max-width: #{$container-max-width};

    --card-min-width: #{rem(545px)};
    --gap: #{spacing(7)};
  }
}

// Bottom Cards
@include mq(md) {
  .bottom-cards .container {
    --max-width: #{$container-max-width-md};
    --gap: #{spacing(4)};

    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, var(--card-min-width)), 1fr)
    );
    gap: var(--gap);
  }
}

@include mq(lg) {
  .bottom-cards {
    --card-min-width: #{rem(450px)};

    & .container {
      --max-width: #{$container-max-width-lg};
    }
  }
}

@include mq(xlg) {
  .bottom-cards {
    --card-min-width: #{rem(350px)};

    & .container {
      --max-width: #{$container-max-width};
      --gap: #{spacing(7)};
    }
  }
}
