@use "../abstracts/" as *;

.main-hero {
  --hero-min-height: 450px;
  --background-img-brightness: 0.45;
  --background-img-saturate: 1.25;

  position: relative;

  display: grid;
  place-content: center;

  width: 100%;
  height: 100%;
  min-height: var(--hero-min-height);

  background-color: rgb(0, 0, 0, 0.15);
  background-size: cover;
  background-position: center;
  // filter: brightness(var(--background-img-brightness))
  //   saturate(var(--background-img-saturate));

  @include mq(lg) {
    --hero-min-height: 675px;
  }

  &__contents {
    width: 100%;
    text-align: center;

    & div {
      width: min(100% - 2rem, rem(450px));
      margin-inline: auto;
      margin-block: spacing(10);
    }

    & .main-hero__title {
      font-size: $heading-main-font-size;
      font-weight: $heading-font-weight;
      line-height: $heading-line-height;
      letter-spacing: $heading-letter-spacing;
      color: var(--link-clr);

      margin-block-end: spacing(4);
    }

    & .main-hero__description {
      font-size: $heading-sub-font-size;
      color: var(--link-clr);
    }

    & .main-hero--link {
      display: inline-block;
      width: 100%;

      position: absolute;
      bottom: rem(20px);
      left: 0;

      & svg {
        transition: transform 200ms ease-in-out;
      }

      &:hover svg {
        transform: scale(1.5);
      }
    }
  }
}
